<plugin name='riptide-salesforce' version='1.19.0' grailsVersion='1.3.0 &gt; *'>
  <author>Riptide Software</author>
  <authorEmail>applications@riptidesoftware.com</authorEmail>
  <title>Grails Salesforce Plugin</title>
  <description>\
Provides and Manages connections to Salesforce from a Grails application.
</description>
  <documentation>http://grails.org/plugin/riptide-salesforce</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>com.riptide.grails.salesforce.SalesforceGenService</resource>
    <resource>com.riptide.grails.salesforce.SalesforceService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>